.rangeValue {
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 50px;
    padding-left: 0px;
}

.rangeTitle {
    padding-left: 0px;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedorAbuelo {
    background: lightcoral;
    padding: 10px;
    border: 2px solid #000;
}

.contenedorPadre {
    background: lightgreen;
    padding: 10px;
    border: 2px solid #000;
}

.contenedorHijo {
    background: lightseagreen;
    padding: 10px;
    border: 2px solid #000;
}